<!DOCTYPE html>
<html>
<head>
  <title>The Foodie's Food Journal</title>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="header">
  <center><%= image_tag "FoodieBanner.png" %></center>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Restaurants", "/restaurants" %></li>
        <li><%= link_to "Cities", "/city" %></li>
        <li><%= link_to "Genres", "/genre" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% user = User.find_by("id" => cookies["user_id"]) %>
          <% if user.present? %>
            <p class="navbar-text">Hello <%= user["name"] %>!</p>
              <li><%= link_to "Sign Out", "/logout" %></li>
            <% else %>
              <li><%= link_to "Sign In", "/login" %></li>
              <li><%= link_to "New User?", "/users/new" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</div>

<%= yield %>

</body>
</html>
